/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Jul-2017, 16:32:25
    Author     : anash
*/

#login{
    background-image: url("loginimage-1.jpeg");
    background-size: cover;
    padding-top: 15%;
}

